/bin
/build/.vs
/build/obj
/build/cpp-hiredis-cluster.sdf
/build/cpp-hiredis-cluster.VC.opendb
/build/*.lib
/build/*.exe
/build/cpp-hiredis-cluster.VC.VC.opendb
/build/cpp-hiredis-cluster.VC.db
/deps/boost
/deps/hiredis
/deps/hiredis-boostasio-adapter
/deps/libevent
