/deps
/bin
/build/.vs
/build/obj
/build/cpp-hiredis-cluster.sdf
/build/cpp-hiredis-cluster.VC.opendb
/build/*.lib
/build/*.exe
/build/cpp-hiredis-cluster.VC.VC.opendb
/build/cpp-hiredis-cluster.VC.db
